* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--backgorund);
}

:root {
  --backgorund: #00171f;
  --text: #ffffff;
  --asides: #000;
  --sky: #adebff;
}

nav {
  height: 9vh;
  width: 100%;
  background-color: var(--asides);
  color: var(--text);
}

nav h1 {
  padding-top: 10px;
  padding-left: 13px;
}

.wrapped {
  display: flex;
  flex-direction: row-reverse;
}

main {
  width: 85%;
  background-color: var(--backgorund);
  color: var(--text);
  display: flex;
  gap: 390px;
}

.money-calculator form {
  align-items: center;
}

.money-description {
  width: 300px;
  margin: 40px 0 0 60px;
}

.money-description span {
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 9px;
}

.money-description p {
  font-weight: 200;
  font-size: 14px;
  padding-top: 9px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 6px;
}

label {
  flex: 1;
  text-align: left;
}

input {
  flex: 1;
  margin-left: 10px;
  width: 100px;
}

input:active {
  transition: 0.1s;
  border: #ffffff solid;
}

.money-calculator input {
  background-color: var(--asides);
  border: none;
  color: var(--text);
  width: 200px;
  height: 30px;
  margin-bottom: 7px;
  border-radius: 8px;
}

.submit {
  margin-top: 16px;
  margin-left: 25px;
}

.submit:hover {
  transition: 0.4s;
  border: #a7a7a7 solid;
}

aside {
  width: 15%;
  background-color: var(--asides);
}

footer {
  color: var(--text);
  background-color: var(--asides);
}

footer span {
  color: var(--text);
  margin: 4px 0 4px 20px;
}

footer a {
  text-decoration: none;
  color: var(--text);
}

footer a:hover {
  transition: 0.3s;
  color: #b8b8b8;
  text-decoration: none;
}

.button-submit {
  background-color: var(--backgorund);
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
